---
layout: default
---

<div class="home py-4 py-md-5">
  {% assign featured_urls = "" %}
  {% if paginator.page == 1 %}
    {% assign hero = site.posts | where: "featured", 1 | first %}
    {% if hero %}
      {% include featured-hero.html post=hero %}
      {% assign featured_urls = featured_urls | append: hero.url | append: "|" %}
    {% endif %}
  {% endif %}

  <div class="row">
    {% if paginator.page == 1 %}
      {% for n in (2..3) %}
        {% assign pick = site.posts | where: "featured", n | first %}
        {% if pick %}
          <div class="col-12 col-lg-8 mb-4">{% include game-card.html post=pick wide=true %}</div>
          {% assign featured_urls = featured_urls | append: pick.url | append: "|" %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% for post in paginator.posts %}
    {% unless post.categories contains 'blog_post' %}
      {% assign key = post.url | append: "|" %}
      {% unless featured_urls contains key %}
      <div class="col-12 col-md-6 col-lg-4 mb-4">{% include game-card.html post=post %}</div>
      {% endunless %}
    {% endunless %}
    {% endfor %}
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="page-item active">
                <span class="page-link">{{ page }}</span>
              </li>
            {% elsif page == 1 %}
              <li class="page-item">
                <a class="page-link" href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            </li>
          {% else %}
            <li class="page-item" disabled>
              <span class="page-link">Next</span>
            </li>
          {% endif %}
          </ul>
        {% endif %}
    </div>
  </div>
</div>
