---
layout: default
---

<div class="home py-4 py-md-5">
  <h1 class="page-title">Games on {{ page.platform }}</h1>
  
  <div class="row">
    {% for post in site.posts %}
      {% assign hit = post.links | where: "platform", page.key | first %}
      {% if hit %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">{% include game-card.html post=post %}</div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <a href="{{ '/' | relative_url }}" class="btn btn-primary">All Posts</a>
      <a href="{{ '/platforms/' | relative_url }}" class="btn btn-outline-primary">All Platforms</a>
    </div>
  </div>
</div>