---
layout: default
---

<div class="home py-4 py-md-5">
  <h1 class="page-title">Posts tagged: {{ page.tag }}</h1>
  
  <div class="row">
    {% assign tag_without_emoji = page.tag | slice: 1, page.tag.size %}
    {% for post in site.posts %}
      {% for post_tag in post.tags %}
        {% assign post_tag_without_emoji = post_tag | slice: 1, post_tag.size %}
        {% if post_tag_without_emoji == tag_without_emoji %}
          <div class="col-12 col-md-6 col-lg-4">
           <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
            <div class="card rounded overflow-hidden">
              {% assign now = 'now' | date: '%s' %}
              {% assign two_weeks = 1209600 %}
              {% assign post_date = post.date | date: '%s' | plus: 0 %}
              {% assign date_diff = now | minus: post_date %}
              {% if date_diff < two_weeks %}
                <div class="new-badge">NEW</div>
              {% endif %}
              <div class="image">
                {% if post.image %}
                <img src="{{post.image | relative_url}}" alt="{{post.title}}">
                {% endif %}
                <div class="card-body">
                  <h2 class="panel-title">{{ post.title | truncate: 25 }}</h2>
                  <p class="p-0 my-1 mx-0"><span class="post-meta"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span></p>
                  {% if post.tags %}
                    {% for tag in post.tags %}
                      <span class="badge badge-{{ post.colors[forloop.index0] }}">{{ tag }}</span>
                    {% endfor %}
                  {% endif %}
                  <p></p>
                  <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 150 }}</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <a href="{{ '/' | relative_url }}" class="btn btn-primary btn-block">Back to All Posts</a>
    </div>
  </div>
</div>