---
layout: default
---

<div class="home py-4 py-md-5">
  <h1 class="page-title">Posts tagged: {{ page.tag }}</h1>
  
  <div class="row">
    {% assign tag_without_emoji = page.tag | slice: 1, page.tag.size %}
    {% for post in site.posts %}
      {% for post_tag in post.tags %}
        {% assign post_tag_without_emoji = post_tag | slice: 1, post_tag.size %}
        {% if post_tag_without_emoji == tag_without_emoji %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">{% include game-card.html post=post %}</div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <a href="{{ '/' | relative_url }}" class="btn btn-primary">All Posts</a>
      <a href="{{ '/tags/' | relative_url }}" class="btn btn-outline-primary">All Tags</a>
    </div>
  </div>
</div>